{{> navbar}}
<div class="performance-inventory">
    <a href="performancepartitems?category=DOWNPIPES">
        <div class="performance-inventory-card">
            {{#with inventory.car_inventory.performance_parts.items.DOWNPIPES}}
                <h2>DOWNPIPES</h2>
                <img src="{{this.[0].img}}" alt="{{this.[0].name}}">
            {{/with}}
        </div>
    </a>
    <a href="performancepartitems?category=EXHAUSTS">
        <div class="performance-inventory-card-two">
            {{#with inventory.car_inventory.performance_parts.items.EXHAUSTS}}
                <h2>EXHAUSTS</h2>
                <img src="{{this.[0].img}}" alt="{{this.[0].name}}">
            {{/with}}
        </div>
    </a>
    <a href="performancepartitems?category=TURBO_KITS">
        <div class="performance-inventory-card-three">
            {{#with inventory.car_inventory.performance_parts.items.TURBO_KITS}}
                <h2>TURBO KITS</h2>
                <img src="{{this.[0].img}}" alt="{{this.[0].name}}">
            {{/with}}
        </div>
    </a>
    <a href="performancepartitems?category=INTAKES">
        <div class="performance-inventory-card-three">
            {{#with inventory.car_inventory.performance_parts.items.INTAKES}}
                <h2>INTAKES</h2>
                <img src="{{this.[0].img}}" alt="{{this.[0].name}}">
            {{/with}}
        </div>
    </a>
    <a href="performancepartitems?category=INTERCOOLERS">
        <div class="performance-inventory-card-three">
            {{#with inventory.car_inventory.performance_parts.items.INTERCOOLERS}}
                <h2>INTERCOOLERS</h2>
                <img src="{{this.[0].img}}" alt="{{this.[0].name}}">
            {{/with}}
        </div>
    </a>
    <a href="performancepartitems?category=TUNING">
        <div class="performance-inventory-card-three">
            {{#with inventory.car_inventory.performance_parts.items.TUNING}}
                <h2>TUNING</h2>
                <img src="{{this.[0].img}}" alt="{{this.[0].name}}">
            {{/with}}
        </div>
    </a>
</div>